<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>955684917741-45qj9349vi80hacil9psun4u8umnmja4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.955684917741-45qj9349vi80hacil9psun4u8umnmja4</string>
	<key>API_KEY</key>
	<string>AIzaSyBPcFtDtbjL4x7K1UtsD4riC8Pt20sM2Do</string>
	<key>GCM_SENDER_ID</key>
	<string>955684917741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maybesitter.app</string>
	<key>PROJECT_ID</key>
	<string>maybesitter-app</string>
	<key>STORAGE_BUCKET</key>
	<string>maybesitter-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955684917741:ios:a98e16dee904d2c10657e4</string>
</dict>
</plist>